/*
 * suggested order of CSS properties
 *
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 */

html, body {
   	margin: 0px 0px 0px 0px;
    height: 100%;
    background-color: #EEF; 
	font-family: verdana, sans-serif;
	font-size: 90%;
}

/* anchor tags */
/*
	a:link, a:visited, .ui-widget-content a:link, .ui-widget-content a:visited {
	color: #08245b; 
	text-decoration: none;
 	}
a:active, .ui-widget-content a:active {
	color: #f00;
	text-decoration: none;
    }
a:hover, .ui-widget-content a:hover {
	color: #666;
//	text-decoration: underline;
    }
    */


.button
{
   font-size:11px;
   font-family:Verdana,sans-serif;
   color:white;
   background-color:#08245b;
   border-style:ridge;
   border-color:#FFFFFF;
   border-width:1px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   cursor: pointer;
}

.button:hover {
    opacity: 0.5;
    border: 1px solid black;

   /*background-color: #9a5; /*#989;*/
}
.loginheader {
background: #08245b;
color: #fff;
padding-top: 3px;
font-size: 130%;
text-align: center;
}
.LoginFooter {
    position:absolute;
    bottom:0;
    clear: both;
    height: 3em;
    width: 100%;
    font-size: 0.9em;
    color: #aaa;
    text-align: center;
    background: #08245b;
    vertical-align: bottom;
}
